*,
body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Form Styles */
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1em;
  height: 70px;
}

.search-container > form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 88%;
  height: 45px;

  padding: 3px 2px 3px 2px;
  border: 2px rgb(218, 221, 225) solid;
  border-radius: 50px;
}

.search-container > form:hover {
  border: none;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 24px -17px rgba(0, 0, 0, 0.85);
}

.search-container > form > input {
  /* Input UI styling */
  width: 88%;
  height: 2.3em; /* 2cem */
  padding: 5px 0px 5px 15px;
  border: none;
  outline: none;

  /* Text styling */
  font-size: 15px;
  font-weight: 400;
}

::placeholder {
  color: rgb(188, 188, 188);
}

.search-container > form > input > .search-icon {
  padding: 15px 0 10px 0;
  color: rgb(151, 167, 153);
}
